/**
    * Custom About Page
    * --------------------------------------------------------------------- */

my-about-instance .middle-title {
  margin-bottom: 15px !important;
  margin-top: 15px !important;
  letter-spacing: 2px;
}

my-about-instance .section-title {
  margin-top: 10px !important;
  padding-bottom: 20px !important;
  margin-bottom: 0 !important;
  text-transform: uppercase;
  font-size: 14px !important;
}

.block.administrator .section-title::after,
.block.creation-reason .section-title::after,
.block.maintenance-lifetime .section-title::after,
.block.business-model  .section-title::after {
  content: ' ?';
}

.block.administrator .section-title::before,
.block.creation-reason .section-title::before,
.block.maintenance-lifetime .section-title::before,
.block.business-model  .section-title::before {
  margin-right: 5px;
}

.block.administrator .section-title::before {
  content: '👩‍🏭';
}

.block.creation-reason .section-title::before {
  content: '📜';
}

.block.maintenance-lifetime .section-title::before {
  content: '🕑';
}

.block.business-model .section-title::before {
  content: '💰';
}

#other-information + .anchor-link {
  display: none;
}

.block.hardware-information .anchor-link {
  margin-top: 20px;
}

.block.hardware-information .section-title {
  letter-spacing: 2px;
  color: var(--mainColor) !important;
  font-weight: bold;
}

.block.short-description::after,
.instance-short-description::after {
  content: '🌈';
  margin-left: 5px;
  font-style: normal;
}

my-about-instance .anchor-link {
  position: relative;
  display: flex;
  align-items: baseline;
}

my-about-instance .anchor-link:hover,
my-about-instance .anchor-link:active  {
  text-decoration: none !important;
}

my-about-instance .block:not(.short-description):not(.hardware-information) {
  background-color: var(--submenuBackgroundColor);
  padding: 10px 15px;
  border-radius: 5px;
}

my-about-instance .block {
  margin-bottom: 10px !important;
}

my-about-instance .about-instance-title {
  flex-wrap: wrap;
}

my-about-instance .about-instance-title .title {
  position: relative;
  width: auto !important;
  height: auto;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

my-about-instance .about-instance-title .contact-admin {
  margin-bottom: 0.5rem;
}

my-about-instance .block.description .anchor-link,
my-about-instance .block.moderation-information .anchor-link {
  display: none;
}

my-about-instance .block.description,
my-about-instance .block.moderation-information {
  padding-top: 25px !important;
}

